.single-occasion {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center align text */
  gap: 0.5rem; /* Space between elements */
  
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
}

.single-occasion:hover {
  transform: scale(1.05); /* Slight enlargement on hover */
 
}

.single-occasion img {
  width: 100%; /* Full width for responsiveness */
  height: auto; /* Maintain aspect ratio */
 
}


.image-container {
  width: 100%; /* Full width for responsiveness */
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Required for next/image with 'fill' */
  max-width: 300px; /* Adjust as per your design for desktop */
  aspect-ratio: 1 / 1; /* Maintain a square shape */
}


.single-occasion h3 { 
  font-weight: 500; /* Slightly bold */
  text-decoration: none;
  line-height: 1.5em;
  margin: 0.5rem 0 0; /* Space around title */
  
}

.single-occasion h4 {
  
  font-weight: 500; /* Medium emphasis */
  color: #666; /* Subtle gray for price */
  margin: 0; /* Remove default margins */
}
