@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

*{
  margin: 0; padding: 0; box-sizing: border-box;
}

body{
  font-family: "Suranna", serif;
  font-weight: 400;
  height: 100vh;
}
