@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Suranna&display=swap');
:root{
  --primary-color: #ff686b;
  --secondary-color: #ffa69e;
  --text-color: #a5ffd6;
  --heading: #84dcc6;
  --bg-color: #ffffff;
}

*{
  margin: 0; padding: 0; box-sizing: border-box;
}

body{
  font-family: "Suranna", serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}
