/* Custom Container */
.custom-container {
    padding: 40px 12px;
    background-color: var(--bg-color2); /* Light coral pink background */
    text-align: center;
    margin: 0px;
    margin-top: 0;
    
  }
  
  /* Custom Text */
  .custom-text h2 {
    font-size: 2rem; /* Large font size for the heading */
    font-weight: bold;
    color: #ff6f61; /* Coral pink for emphasis */
    color: var(--sea-green-2);
    margin-bottom: 15px;
  }
  
  .custom-text h4 {
    font-size: 1.2rem; /* Medium font size for the subheading */
    color: var(--sea-green-5);
    margin-bottom: 20px;
  }
  
  /* Custom Link */
  .link-custom {
    margin-top: 20px;
  }
  
  .link-custom a {
    display: inline-block;
    padding: 12px 26px;
    font-size: 1rem;
    font-weight: 400;
    color: white; /* White text for contrast */
    background-color: var(--sea-green-4); /* Sea green for the button */
    border-radius: 30px; /* Rounded button shape */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
  }
  
  .link-custom a:hover {
    background-color: var(--heading); 
    color: var(--sea-green-2);
    transform: translateY(-3px); /* Lift button on hover */
  }

  